
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}blog titles{% endblock %}   

{% block content %}   
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
    <ul>
    {% for blog in blogs %}    
        <h4>*<a href="{{ blog.id }}">{{ blog.title }}</a></h4>
    {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
    <h2>广告</h2>
        <p>学Python就到：www.itdiffer.com</p>
        <img width="200px" src={% static "images/Python_logo.jpg" %}>
    </div>
</div>
{% endblock %}
